html:not(.alza-checker-no-cleanup) [data-testid="component-alternativePricingModule"],
html:not(.alza-checker-no-cleanup) [data-testid="alternative-pricing-container"],
html:not(.alza-checker-no-cleanup) [data-testid="alternative-pricing-item"],
html:not(.alza-checker-no-cleanup) .alternativePricingModule,
html:not(.alza-checker-no-cleanup) .ads-pb--instalments-c,
html:not(.alza-checker-no-cleanup) [class*="ads-pb--instalments"],
html:not(.alza-checker-no-cleanup) .warranty-list-compact,
html:not(.alza-checker-no-cleanup) .warranty-list,
html:not(.alza-checker-no-cleanup) .accessoriesBlockNew,
html:not(.alza-checker-no-cleanup) .delivery-promo-container,
html:not(.alza-checker-no-cleanup) .delivery-promo,
html:not(.alza-checker-no-cleanup) .js-delivery-promo,
html:not(.alza-checker-no-cleanup) [data-type="AlzaBox"],
html:not(.alza-checker-no-cleanup) [data-testid="component-internalBanner"],
html:not(.alza-checker-no-cleanup) [class*="internalBanner"],
html:not(.alza-checker-no-cleanup) [data-testid="footerUspList"],
html:not(.alza-checker-no-cleanup) [data-testid="footerAppBanner"],
html:not(.alza-checker-no-cleanup) [data-testid="component-footer"],
html:not(.alza-checker-no-cleanup) [data-testid="component-brandingEars"],
html:not(.alza-checker-no-cleanup) [class*="brandingEars"] {
  display: none !important;
}
